/* body{
    background-color: aqua;
} */

body{
    margin: 0;
}
h1{
    margin:0;
}
.div1{
    background-color: #dbf1eb;
    margin: 0px;
    width: auto;
    height: 40rem;
    text-align: center;
    position: relative;
}
.mountain{
  width: 800px; 
  position:absolute;
  top: 300px;
  left: auto;
  right: auto;
  
      
}